<div class="title">
    <h2 class="weekCalendar" *ngIf="calendarView == 1">Calendar - {{currentWeekNav}}
        <span class="leftNav" (click)="gotoWeek('prev')"></span>
        <span class="rightNav" (click)="gotoWeek('next')"></span>
    </h2>

    <h2 class="monthCalendar" *ngIf="calendarView == 2">Calendar - {{getMonthNameTxt}}
        <span class="leftNav" (click)="gotoMonth('prev')"></span>
        <span class="rightNav" (click)="gotoMonth('next')"></span>
    </h2>
    <h2 class="yearlyCalendar" *ngIf="calendarView == 3">Calendar - {{currentYear}}
        <span class="leftNav" (click)="gotoYear('prev')"></span>
        <span class="rightNav" (click)="gotoYear('next')"></span>
    </h2>
    <div class="viewTypeSearch">
        <ul class="viewType">
            <li (click)="viewType(1)" [ngClass]="calendarView == 1?'active':''">Week</li>
            <li (click)="viewType(2)" [ngClass]="calendarView == 2?'active':''">Month</li>
            <li (click)="viewType(3)" [ngClass]="calendarView == 3?'active':''">Year</li>
        </ul>
    </div>
</div>
<div class="Weekly" *ngIf="calendarView == 1">
    <table class="parentWidth" cellspacing=0 cellpadding=0>
        <thead>
            <tr>
                <th class="eventNameHeader">
                    <span class="eventName">Events & Activities</span>
                </th>
                <th>
                    <table>
                        <thead>
                            <tr>
                                <th *ngFor = "let weekdisplay of totalWeek['weekDays']">
                                    <span class="events">{{weekdisplay['day']}}</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </th>
            </tr>
            <tr class="noBorder">
                <th class="eventNameHeader">
                    &nbsp;
                </th>
                <th>
                    <table>
                        <thead>
                            <tr>
                                <th *ngFor = "let weekdisplay of totalWeek['weekDays']">
                                    <span class="events">{{weekdisplay['date']}}</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let listEvents of weeklyEvents;let i = index">
                <td colspan=2>
                    <table cellspacing=0 cellpadding=0>
                        <tbody class="elements" [ngClass]="isActive('weekly'+i,i) ? 'active' : ''">
                            <tr (click)="toggleSubElements('weekly'+i,i)"  [ngClass]="listEvents['subElements'] ? 'parentElement' : 'singleElement'">
                                <td class="eventNameHeader"><span class="eventName">{{listEvents["events"]}}</span></td>
                                <td>
                                    <table cellspacing=0 cellpadding=0>
                                        <tbody>
                                            <tr>
                                                <td *ngFor="let weekdisplay of totalWeek['weekDays']" [ngClass]='checkActive(listEvents["startDate"],listEvents["endDate"],weekdisplay["fullDate"]) == true ? "eventActive" : ""'>
                                                    <span class="events">&nbsp;</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr *ngIf="listEvents['subElements']" class="subElements">
                                <td colspan=2> <!--  [attr.colspan]="listEvents['subElements'] ? 2 : null" -->
                                    <table cellspacing=0 cellpadding=0>
                                        <tbody>
                                            <tr *ngFor="let subelements of listEvents['subElements']">
                                                <td class="eventNameHeader"><span>{{subelements["events"]}}</span></td>
                                                <td>
                                                    <table cellspacing=0 cellpadding=0>
                                                        <tbody>
                                                            <tr>
                                                                <td  *ngFor="let weekdisplay of totalWeek['weekDays']" [ngClass]='checkActive(subelements["startDate"],subelements["endDate"],weekdisplay["fullDate"]) == true ? "activityActive" : ""'>
                                                                    <span class="events">&nbsp;</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="monthly" *ngIf="calendarView == 2">
    <table class="parentWidth" cellspacing=0 cellpadding=0>
        <thead>
            <tr>
                <th class="eventNameHeader">
                    <span class="eventName">Events & Activities</span>
                </th>
                <th>
                    <table>
                        <thead>
                            <tr>
                                <th *ngFor = "let monthDisplay of getAllMonths['daysName'];let i = index">
                                    <span class="events">{{monthDisplay}}</span><br/>
                                    <span class="events">{{i + 1}}</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let listEvents of monthlyEvents;let i=index">
                <td colspan=2>
                    <table cellspacing=0 cellpadding=0>
                        <tbody class="elements" [ngClass]="isActive('monthly'+i,i) ? 'active' : ''">
                            <tr (click)="toggleSubElements('monthly'+i,i)" [ngClass]="listEvents['subElements'] ? 'parentElement' : 'singleElement'">
                                <td class="eventNameHeader"><span class="eventName">{{listEvents["events"]}}</span></td>
                                <td>
                                    <table cellspacing=0 cellpadding=0>
                                        <tbody>
                                            <tr>
                                                <td *ngFor = "let monthDisplay of getAllMonths['fullDate'];let i = index" [ngClass]='checkActive(listEvents["startDate"],listEvents["endDate"],monthDisplay) == true ? "eventActive" : ""'>
                                                    <span class="events">&nbsp;</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr *ngIf="listEvents['subElements']" class="subElements">
                                <td colspan=10>
                                    <table cellspacing=0 cellpadding=0>
                                        <tbody>
                                            <tr *ngFor="let subelements of listEvents['subElements']">
                                                <td class="eventNameHeader"><span>{{subelements["events"]}} qweqwe</span></td>
                                                <td>
                                                    <table cellspacing=0 cellpadding=0>
                                                        <tbody>
                                                            <tr>
                                                                <td *ngFor = "let monthDisplay of getAllMonths['fullDate'];let i = index"  [ngClass]='checkActive(subelements["startDate"],subelements["endDate"],monthDisplay) == true ? "activityActive" : ""'>
                                                                    <span class="events">&nbsp;</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="yearly" *ngIf="calendarView == 3">
    <table class="parentWidth" cellspacing=0 cellpadding=0>
        <thead>
            <tr>
                <th class="eventNameHeader">
                    <span class="eventName">Events & Activities</span>
                </th>
                <th class="weeksHeader">
                    <table cellspacing=0 cellpadding=0>
                        <thead>
                            <tr>
                                <th *ngFor = "let yearly of currentYearAllMonths" class="weeksTotal{{yearly['weeks'].length}}">
                                    <span class="events">{{yearly['monthHalfName']}}</span>
                                    <table cellspacing=0 cellpadding=0>
                                        <thead>
                                            <tr>
                                                <th *ngFor="let week of yearly['weeks'];let i = index">
                                                    w{{i + 1}}
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let listEvents of yearlyEvents;let i = index">
                <td colspan=2>
                    <table cellspacing=0 cellpadding=0>
                        <tbody class="elements" [ngClass]="isActive('yearly'+i,i) ? 'active' : ''">
                            <tr (click)="toggleSubElements('yearly'+i,i)" [ngClass]="listEvents['subElements'] ? 'parentElement' : 'singleElement'">
                                <td class="eventNameHeader"><span class="eventName">{{listEvents["events"]}}</span></td>
                                <td class="weeksDisplay">
                                    <table cellspacing=0 cellpadding=0>
                                        <tbody>
                                            <tr>
                                                <td *ngFor = "let yearly of currentYearAllMonths" class="weeksTotal{{yearly['weeks'].length}}">
                                                    <table cellspacing=0 cellpadding=0>
                                                        <thead>
                                                            <tr>
                                                                <th *ngFor="let week of yearly['weeks'];let i = index">
                                                                    w{{i + 1}}
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr *ngIf="listEvents['subElements']" class="subElements">
                                <td colspan=10>
                                    <table cellspacing=0 cellpadding=0>
                                        <tbody>
                                            <tr *ngFor="let subelements of listEvents['subElements']">
                                                <td class="eventNameHeader"><span>{{subelements["events"]}}</span></td>
                                                <td>
                                                    <table cellspacing=0 cellpadding=0>
                                                        <tbody>
                                                            <tr>
                                                                <td *ngFor="let day of subelements['days']" class="{{day}}">
                                                                    <span class="events">&nbsp;</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>